# App
APP_PORT=4000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=sonic-db
DB_SSL=false

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# RedisInsight
REDISINSIGHT_HOST=localhost
REDISINSIGHT_PORT=8001
